[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyhamcrest = "*"
pylint = "*"
pyyaml = "*"

[packages]
Pillow = "*"
click = "*"
colour = "*"
inky = {version = "*", markers="'raspi' in platform_release"}
"rpi.gpio" = {version = "*", markers="'raspi' in platform_release"}
pyyaml = "*"

[requires]
python_version = "3.9"
