[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
behave = "*"
pyhamcrest = "*"
pylint = "*"
pylint-quotes = "*"
pyyaml = "*"

[packages]
Pillow = "*"
click = "*"
colour = "*"
#inky = "*"
#"rpi.gpio" = "*"
pyyaml = "*"

[requires]
python_version = "3.9"
